* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_black {
  background-color: black;
  color: white;
}

.logo {
  height: 30px;
}

.hero {
  background-color: #519cf0;
  color: #ffffff;
}

.footer {
  background-color: black;
  color: #ffffff;
}